* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-align: center;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 20px 35px;
  border: 1px solid gray;
  color: black;
  border-radius: 1px;
  margin-top: 10px;
  font-weight: bold;
}
/*header*/
header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(88, 110, 139);
  color: white;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
  padding: 5px 8px;
  background-color: white;
  color: rgb(88, 110, 139);
  margin-right: 16px;
  border-radius: 3px;
}

ul {
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  list-style: none;
  font-size: 16px;
}

/*main*/
main {
  background-color: rgb(88, 110, 139);
  color: white;
  padding: 50px;
}

main h1 {
  margin: 0;
  padding-top: 30px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 50px;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

.main-container p {
  width: 70%;
  margin: 20px auto;
}

.main-container span {
  display: block;
}

.play {
  /* padding-top: 30px; */
  width: 24px;
}

.watch-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*why section*/

h2 {
  font-family: "Oswald", sans-serif;
}

.why-container {
  width: 70%;
  margin: 50px auto;
}

.why-container p {
  width: 60%;
  margin: 0 auto;
}

.why-section {
  padding: 30px;
}

/*third-section*/
.gym {
  width: 70%;
}

.welcome {
  width: 82%;
}
.third-section {
  padding: 50px;
  background-color: rgb(216, 216, 216);
}

.third-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  padding: 50px;
}

.third-section h3 {
}

.container-one p {
  width: 90%;
}

/*volunteer- fourth section*/
.volunteer-section {
  padding: 80px;
}

.volunteer-container {
  width: 60%;
  margin: 0 auto;
}

/*footer*/
footer {
  color: white;
  background-color: rgb(33, 33, 46);
}
